{% extends "base_generic.html" %}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
  <link href="{% static 'css/stylelista.css' %}" rel="stylesheet">
</head>

<body>

<h1>Lista de peticiones de tutoriales</h1>
<div id="lista">
{%if juegoinstance_list%}

<ul>
{%for juegoinstance in juegoinstance_list%}
    <li>
        <a href="{{juegoinstance.get_absolute_url}}">{{juegoinstance.juego.title}}</a>
    </li>
    {%endfor%}
</ul>
{%else%}
<p>No hay juegos en el catalogo</p>
{%endif%}
</div>


</div>
{%endblock%}