body {
    background-color: rgb(40, 40, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: left;
    color:white
 
 }

#lista{
    margin:100;
    padding:100;
    list-style-type:none;   
}

#lista a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }





